<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost; Database=MooTesting; User ID=MooTestingUser; Password=123456; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <services>
            <service name="Moo.API.API.JsonAPI">
                <endpoint address="" behaviorConfiguration="Moo.API.API.JsonAPIAspNetAjaxBehavior"
                  binding="webHttpBinding" contract="Moo.API.API.JsonAPI" />
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="Moo.API.API.JsonAPIAspNetAjaxBehavior">
                    <enableWebScript/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <!--<customExceptionHandle/>-->
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!--
        <extensions>
            <behaviorExtensions>
                <add name="customExceptionHandle" type="Moo.API.API.ErrorHandlerExtension, Moo.API, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>
        -->
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
