<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="IndexerDB" connectionString="User ID=MooTestingUser; Password=123456;Server=localhost\SQLEXPRESS"/>
        <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost\SQLEXPRESS; Database=MooTesting; User ID=MooTestingUser; Password=123456; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
