<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost; Database=MooTesting; User ID=MooTestingUser; Password=123456; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>