<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MooDB" connectionString="metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MooTesting;user id=MooTestingUser;password=123456;multipleactiveresultsets=True;application name=Moo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>