<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost; Database=Moo; User ID=MooUser; Password=using namespace std; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
