<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="UploadFileDirectory" value="D:\UploadedFiles\"/>
    <add key="TemporyFileDirectory" value="D:\TemporyFiles\"/>
    <add key="LogFilePath" value="D:\MooLog.log"/>

    <!-- 10 minutes -->
    <add key="BlobExpires" value="0:10:0"/>
  </appSettings>

  <connectionStrings>
    <add name="IndexerDB" connectionString="User ID=MooTestingUser; Password=123456;Server=localhost"/>
    <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost; Database=MooTesting; User ID=MooTestingUser; Password=123456; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" executionTimeout="1800" maxRequestLength="20480"/>
    <sessionState mode="Off"/>
    <customErrors mode="Off"/>
  </system.web>

  <system.serviceModel>
    <services>
      <service name="Moo.API.JsonAPI">
        <endpoint address="" behaviorConfiguration="JsonAPIBehavior" binding="webHttpBinding" contract="Moo.API.JsonAPI"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonAPIBehavior">
          <webHttp defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--serviceMetadata httpGetEnabled="true" /-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <customBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="customBehavior" type="Moo.API.CustomBehavior, Moo.API, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="must-revalidate"/>
    </staticContent>
    <handlers>
      <add name="File" verb="GET,HEAD" path="file/*" type="Moo.API.FileHandler"/>
      <add name="Upload" verb="*" path="upload/*" type="Moo.API.MyStaticFileHandler"/>
      <add name="Temp" verb="*" path="temp/*" type="Moo.API.MyStaticFileHandler"/>
    </handlers>
    <directoryBrowse enabled="true"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
    </modules>
  </system.webServer>
</configuration>