<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MooDB" connectionString="Provider Connection String=&quot;Server=localhost; Database=MooTesting; User ID=MooTestingUser; Password=123456; MultipleActiveResultSets=True; Application Name=Moo; &quot;; Metadata=res://*/DB.MooDB.csdl|res://*/DB.MooDB.ssdl|res://*/DB.MooDB.msl; Provider=System.Data.SqlClient;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Moo.API.JsonAPI">
        <endpoint address="" behaviorConfiguration="JsonAPIBehavior" binding="webHttpBinding" contract="Moo.API.JsonAPI"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonAPIBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <!--serviceMetadata httpGetEnabled="true" /-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <customBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="customBehavior" type="Moo.API.CustomBehavior, Moo.API, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>